@use '../variables/variables.scss' as *;

.section {
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    @media (min-width: 950px) {
      margin: auto;
      width: 80%;
    }
  }
  @media (min-width: 950px) {
    flex-direction: row-reverse;
    align-items: start;
  }
  .section__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (min-width: 950px) {
      align-items: start;
      text-align: start;
      margin: auto 5rem;
    }
    .hero__title {
      font-size: 2.25rem;
      margin-top: 3rem;
      @media (min-width: 950px) {
        font-size: 5rem;
        line-height: 5rem;
        margin-top: 0;
      }
    }
    .hero__desc {
      margin: 1rem;
      font-size: 1rem;
      @media (min-width: 950px) {
        margin: 3rem auto;
      }
    }
    .hero__btn {
      padding: 0.6em 1.5em;
      border: none;
      color: $clr-neutral-900;
      background-color: $clr-neutral-100;
      border-radius: 1rem;
      cursor: pointer;
      margin: 1rem auto 2.5rem auto;
      @media (min-width: 950px) {
        margin: auto auto 6rem 0;
      }
      &:hover {
        background-color: $clr-neutral-900;
        color: $clr-neutral-100;
        border: 1px solid $clr-neutral-100;
      }
    }
    .icons {
      display: flex;
      gap: calc(5rem - 2rem);
      padding: 0;
      @media (max-width: 950px) {
        padding: 1rem;
      }
      .icons__item {
        padding: 0;
        list-style: none;
        .item-img {
          width: 100%;
        }
      }
    }
  }
}
