@use '../variables/variables.scss' as *;

.section__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .hero__title {
    font-size: 2.125rem;
    margin-top: 3rem;
  }
  .hero__desc {
    margin: 1rem;
    font-size: 1rem;
  }
  .hero__btn {
    margin: 1rem auto 2rem auto;
    padding: 0.6em 1.5em;
    border: none;
    color: $clr-neutral-900;
    background-color: $clr-neutral-100;
    border-radius: 1rem;
  }
}
