@use '../variables/variables.scss' as *;

.company {
  padding: 1rem;
  color: $clr-neutral-400;
  @media (min-width: 950px) {
    background-color: $clr-neutral-900;
    padding: 2rem 2rem 0.9rem 2rem;
    position: absolute;
    top: 80%;
    left: 10rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 10px $clr-neutral-100;
  }
  .company__content {
    list-style: none;
    padding: 0;
    .content {
      margin-bottom: 1rem;
    }
  }
}
