.footer {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  #databiz,
  #meet,
  #maker {
    height: calc(0.9rem + 0.5vh);
  }
  #audiophile {
    height: calc(1.6rem + 0.5vh);
  }
}
