.footer {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1.5rem;
    li {
      list-style: none;
      img {
        width: 5rem;
      }
      #audiophile {
        width: 3rem;
      }
    }
  }
}
