@use '../variables/variables.scss' as *;

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  .header__title {
    margin-right: auto;
  }
  .nav {
    .menu {
      display: flex;
      flex-direction: column;
      height: 100dvh;
      width: 65%;
      position: absolute;
      top: 3rem;
      right: -100%;
      background-color: $clr-neutral-900;
      padding: 1.5rem;
      transition: right 0.3s ease-in-out;
      .menu__content {
        display: flex;
        flex-direction: column;
        padding: 0;
        .menu__list {
          display: grid;
          list-style: none;
          .menu__btn {
            color: $clr-neutral-400;
            display: flex;
            align-items: center;
            flex-direction: row;
            text-align: start;
            border: none;
            padding: 0.5em;
            background-color: $clr-neutral-900;
            gap: 1rem;
            transition: color 0.3s ease-in-out;
            &:hover {
              color: $clr-neutral-100;
            }
            &:focus {
              color: $clr-neutral-100;
            }
          }
        }
      }

      .menu__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .form__btn {
          color: $clr-neutral-400;
          background-color: $clr-neutral-900;
          padding: 1em;
          flex-grow: 1;
          border: none;
          border-radius: 1.25rem;
          cursor: pointer;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: $clr-neutral-100;
          }
          &:focus {
            color: $clr-neutral-100;
          }
        }
      }
    }
    .open {
      right: 0;
      z-index: 1;
    }
  }
}
