@use '../variables/variables.scss' as *;

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  .header__title {
    margin-right: auto;
  }
  .nav {
    .menu {
      height: 100dvh;
      width: 65%;
      position: absolute;
      top: 5rem;
      right: -100%;
      background-color: $clr-neutral-900;
      padding: 1.5rem;
      transition: right 0.3s ease-in-out;
      ul {
        padding: 0;
        li {
          display: flex;
          align-items: center;
          list-style: none;
          gap: 1rem;
          margin-bottom: 1rem;
          .arrow {
            height: 100%;
          }
        }
      }
    }
    .menu__btn {
      display: grid;
      gap: 1rem;
      button {
        padding: 0.5em 1em;
        border: none;
        border-radius: 1rem;
      }
    }
    .open {
      right: 0;
      z-index: 1;
    }
  }
}
