@use '../variables/variables.scss' as *;

.nav {
  display: flex;
  padding: 1rem 0.9rem;
  .nav__title {
    margin-right: auto;
    font-size: 2rem;
    font-weight: $fw-700;
  }
  .nav__menu {
    height: 100%;
    align-self: center;
  }
}
