@use '../variables/variables.scss' as *;

.nav {
  display: flex;
  align-items: center;
  padding: 1rem 0.9rem;
  position: relative;
  .nav__title {
    font-size: 2rem;
    font-weight: $fw-700;
    margin-right: auto;
  }
  .nav__menu {
    height: 100%;
    align-self: center;
    background-color: red;
  }
  .menu {
    display: flex;
    align-items: center;
    width: 100vw;
    margin: auto 0 auto 5rem;
    ul {
      display: flex;
      gap: 2rem;
      padding: 0;
      margin-right: auto;
      li {
        list-style: none;
        flex: 1;
      }
    }
    .nav__btn-section {
      display: flex;
      gap: 1rem;
      margin-left: auto;
      .button {
        border: none;
        border-radius: 1rem;
        padding: 0.5em 1.5em;
        background-color: $clr-neutral-900;
      }
    }
  }
}

// .menu {
//   background-color: hsla(0, 0%, 50%, 0.5);
//   display: block;
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 100vh;
//   padding: 2rem;
//   width: 65%;
//   ul {
//     display: block;
//     padding: 0;
//     li {
//       list-style: none;
//     }
//   }
//   .nav__btn-section {
//     display: grid;
//   }
//   @media only screen and (min-width: 600px) {
//     display: flex;
//   }
// }
